@import '~sass/modules';

.navContainer {
	background: $blue;
	box-sizing: border-box;
	height: 85px;
	position: relative;
	padding: 20px 12px;
	z-index: 1;

	&:after {
		clear: both;
		content: "";
		display: table;
	}

	&__logo {
		@include background('/assets/images/logo-almundo.svg');
		display: inline-block;
		height: 50px;
		margin: 0 48px 0 0;
		text-indent: -999em;
		vertical-align: middle;
		width: 235px;

		&:focus {
			outline: auto;
		}

		&--title {
			font-size: 1px;
		}
	}
}